<div class='comment'>
	<div class='inner'>
		<div class='top-section'>
			<%= comment.name %>
			<span class='pull-right'><%= comment.created_at.strftime("%m/%d/%Y") %></span>
		</div>
		<div class='body'>
			<%= comment.body %>
		</div>
	</div>
</div>