<h1>Staff</h1>
<table class='table'>
  <thead>
    <tr>
      <td>Email</td>
      <td>Role</td>
    </tr>
  </thead>
  <tbody>
    <% for user in @staff %>
      <tr>
        <td><%= user.email %></td>
        <td>
          <select>
            <option <%= 'selected' if user.role == 'editor' %>>Editor</option>
            <option <%= 'selected' if user.role == 'writer' %>>Writer</option>
          </select>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
