<%= link_to article.is_draft ? edit_article_path(article) : article_path(article), class: "no-underline" do %>
  <div class='col-md-4'>
    <div class='article-thumbnail card'>
      <% if article.image.exists? %>
        <%= image_tag article.image.url(:thumb) %>
      <% else %>
        <img src='http://placehold.it/208x160'>
      <% end %>
      <h1><%= article.short_title %></h1>
      <hr />
      <div class='sub'>
        <% if article.is_draft %>
          Draft
        <% else %>
          <% if article.is_published %>
            <div> <%= article.author_name + " on " + article.created_at.strftime("%_m/%-d/%Y") %> </div>
          <% else %>
            <% if article.user == current_user %>
              In Review
            <% else %>
              Publish Article
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
