<%= render "full_article", object: @article %>

<div id='article-comments'>
  <h2 >Comments</h2>
  <hr />
  <%= render @article.comments %>
  <%= render "new_comment" %>
</div>

<div id='article-similar'>
  <h2>Further Reading</h2>
  <hr />
  <div class='row'>
    <%= render @similar_articles %>
  </div>
</div>

<br />
<br />
<br />
