<article>
	<h1>Brooke Stenstrom Looks Forward To a Successful Swimming Career</h1>
	<hr />
	<img src="http://www.mabearnews.com/wp-content/uploads/2013/05/DSC_7217.jpg" />
	<div class='divider'></div>
	<p>Freshman swimmer Brooke Stenstrom has perhaps the brightest future of any swimmer currently at M-A. She most recently competed for M-A at CCS finals, capturing 2nd place in the 50 meters freestyle. For that swim, Brooke was delegated all-American status, which places her in the upper echelons of swimmers in the United States.
She is also the daughter of 49ers quarterback <a href='#'>Steve Stenstrom</a>, and international competitive swimmer <a href='#'>Lori Heisick</a>, which has helped mold Brooke into the athlete she is today. This year Heisick-Stenstrom took over as the swim coach at M-A, and was her daughter’s head coach as such. Here, Brooke talks about her experiences with swimming, having professional athletes as parents, and her goals for the next 3 years.</p>

	<p>
		<strong><em>What got you into swimming?</em></strong><br />
		When I was 7 or 8 my parents, especially my mom, wanted me to start swimming competitively so I did. But I knew how to swim a long time before that.
	</p>

	<p>
		<strong><em>What has been your proudest swimming moment?</em></strong><br />
		I’ve had a couple recently that have just been really fun, at Junior Nationals, the girls team got second over all and getting to go up on the podium and accept the trophy was really cool. Also recently I won my first far westerns, which is something I had wanted to do for a really long time now so it was fun to finally get to do it.
	</p>

	<p>
		<strong><em>What has it been like for your parents to both be competitive athletes?</em></strong><br />
		Its really honoring to have my parents be like that, I’ve learned a lot about how to win and how to lose graciously in both situations, and how to always do your best and give it all you’ve got.
	</p>

	<p>
		<strong><em>Do you guys do athletic stuff as a family?</em></strong><br />
		My dad used to take us to this hill on the weekends and make us run up and down it, and do dry land training stuff. But now, we all work out so much because of club and stuff, and my siblings all play sports too, so when we do spend time as a family we just like to relax and hang out.
	</p>

	<p>
		<strong><em>How has M-A swimming been different than club swimming?</em></strong><br />
		Its been really fun, just the team attitude is different. But I’ve gotten to meet alot more people.
	</p>

	<p>
		<strong><em>What have you especially liked about M-A swimming?</em></strong><br />
		I like all of the different grade levels coming together. It’s not just the freshman and the sophomores and the juniors and the seniors by themselves, its everyone together so you get to meet a lot more people. And everyone is just really supportive of each other, because you are competing as a team.
	</p>

	<p>
		<strong><em>How has it been being a freshman?</em></strong><br />
		Its been cool, I get to swim with some really awesome swimmers which is fun and has been a good learning experience.
	</p>

	<p>
		<strong><em>What is it like having your mom as the coach?</em></strong><br />
		People think that it might be weird, but she’s been coaching me for a while so there’s nothing really weird about it, so its been fun. I get a lot of “oh your the coaches daughter” but other than that it feels really natural.
	</p>

	<p>
		<strong><em>What is your favorite thing about swimming?</em></strong><br />
		Its not a team sport but its alot about team, and it’s been really fun to have those relationships build and also its really fun to get to do something that you love and that you know that you can do, versus soccer and that was fun but I wasn’t really good at it.
	</p>

	<p>
		<strong><em>What have you learned the most from swimming?</em></strong><br />
		I have learned never to take the easy way, and the harder way usually gets you where you need to go. Perserverance too, keeping your head up.
	</p>

	<p>
		<strong><em>What is your funniest swimming memory?</em></strong><br />
		At far westerns, we were about to swim the relays, and there was this duck on the deck and it flew and landed in the middle of one of the lanes. It was hilarious, it held up the meet for like 10 minutes and finally somebody scared it away
	</p>

	<p>
		<strong><em>Who inspires you the most?</em></strong><br />
		I know its really cheesy, but Missy Franklin. She’s just such a fantastic swimmer, and she is so humble and such a great person. If I were to become a professional swimmer I would want people to look at me like that, you know?
	</p>

	<hr />
	<div class='sub'>by Annalise Deal on 08/12/2013</div>
</article>
<br />
<br />
<br />