<div class='row'>
  <div class='col-md-4'>
    <div class='card'>
      <img src="http://www.mabearnews.com/wp-content/uploads/2013/11/IMG_1875.jpg" />
      <h1>Bears Triumph over Oak Grove</h1>
      <hr />
      <span class='sub'>11/25/2013</span>
      <span class='sub pull-right'>Connor Woods</span>
    </div>
  </div>
  <div class='col-md-4'>
    <div class='card'>
      <img src="http://www.mabearnews.com/wp-content/uploads/2013/12/Jojah.png" />
      <h1>First 'TEA Talk' Hosts Feminist Club</h1>
      <hr />
      <span class='sub'>12/06/2013</span>
      <span class='sub pull-right'>Erin Perrine</span>
    </div>
  </div>
  <div class='col-md-4'>
    <div class='card'>
      <img src="http://www.mabearnews.com/wp-content/uploads/2013/12/sjQOd6ahzmo22rudW1Iz8sSPIcF-VJwI2QRAUF4XXKU.jpg" />
      <h1>Behind the Scenes of MA Today</h1>
      <hr />
      <span class='sub'>12/04/2013</span>
      <span class='sub pull-right'>Samantha Parish</span>
    </div>
  </div>
  <div class='col-md-4'>
    <div class='card'>
      <img src="http://www.mabearnews.com/wp-content/uploads/2013/10/Screen-Shot-2013-10-22-at-10.23.47-AM.png" />
      <h1>More Teachers Should Implement Community Service Requirement</h1>
      <hr />
      <span class='sub'>10/30/2013</span>
      <span class='sub pull-right'>Sierra Sheeper</span>
    </div>
  </div>
</div>
