/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

$splash: #911425;

a.no-underline:hover {
	text-decoration: none;
}

p.notice {
	color: #0d0;
}

p.alert {
	color: #d00;
}

header {
	a:hover {
		text-decoration: none;
	}
	h1 {
		color: $splash;
		font-family: 'Lato', sans-serif;
		font-weight: 100;
		text-align: center;
	}
}

.nav {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 18px;
	li > a {
		color: $splash !important;
	}
	li.active > a {
		color: white !important;
		background-color: $splash !important;
	}
}

button.btn-ma, button.btn-ma:hover {
	border: 1px solid $splash;
	color: $splash;
	background-color: white;
}

.container {
	margin-bottom: 50px; // To leave space for the fixed footer
}

footer {
	border-top: 1px solid #bbb;
	background-color: #eee;
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	visibility: hidden;
	ul {
		list-style-type: none;
		text-align: center;
		li {
			display: inline;
			color: #aaa;
			margin: auto 5px auto;
			a {
				color: #aaa;
				text-decoration: underline;
			}
			a:hover {
				color: #aaa;
				text-decoration: none;
			}
		}
	}
}