/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import "variables";

body {
  font-family: "Lato", sans-serif;
}

a.no-underline:hover {
  text-decoration: none;
}


$headerHeight: 80px;
$headerTitleFontSize: 28px;
.notice, .alert {
  position: absolute;
  top: $headerHeight;
  width: 100%;
  border-radius: 0;
  text-align:center;
}

header, footer {
  a:hover {
    text-decoration: none;
  }
  h1 {
    color: $splash;
  }
  .top-bar {
    h1 { // styling specific to the dashboard
      font-size: $headerTitleFontSize;
      margin: ($headerHeight - $headerTitleFontSize)*.5 auto;
    }
    position: fixed;
    height: $headerHeight;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(212,212,212,.6);
    z-index: 999;
    padding-left: 30px;
    ul {
      list-style-type: none;
      position: absolute;
      right: 40px;
      top: 40%;
      font-weight: 800;
      li {
        display: inline;
        margin: auto 20px;
        a {
          color: #aaa;
        }
        a:hover {
          color: #ccc;
        }
        a.active {
          color: maroon;
        }
      }
    }
  }
}

.allow-for-top-bar {
  margin-top: ($headerHeight + 15) !important;
}

.new-draft {
  width: 100%;
  text-align: center;
  padding: 2px;
  border: 1px solid #aaa;
  color: #aaa;
  margin-bottom: 30px;
}

.nav {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  li > a {
    color: $splash !important;
  }
  li.active > a {
    color: white !important;
    background-color: $splash !important;
  }
}

button.btn-ma, button.btn-ma:hover {
  border: 1px solid $splash;
  color: $splash;
  background-color: white;
}

.container {
  margin-bottom: 30px; // To leave space for the fixed footer
}

footer {
  border-top: 1px solid #bbb;
  width: 100%;
  height: 30px;
  background: white;
  box-shadow: 0 -4px 8px rgba(212,212,212,.6);
  margin-top: 8%;
  ul {
    vertical-align:center;
    list-style-type: none;
    text-align: center;
    li {
      line-height: 30px;
      vertical-align:center;
      display: inline;
      color: #aaa;
      margin: auto 5px auto;
      a {
        color: #aaa;
        text-decoration: underline;
      }
      a:hover {
        color: #aaa;
        text-decoration: none;
      }
    }
  }
}

.card
{
  border: 1px solid $lightgray;
  box-shadow: 0 4px 8px rgba(212,212,212,.6);
  border-radius: 2px;
  background-color: white;
}
