@import "variables";

h1 {
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: $darkgray;
  margin: 2px auto 10px auto;
}

h2 {
  font-weight: 300;
  font-size:20px;
  color: $darkgray;
  margin-left: 10px;
}

.edit {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: none;
  line-height: 20px;
  width: 100%;
  text-align: center;
  border-radius: 0 3px 0 0;
  border: $splash solid 1px;
  padding: 3px;
  margin-bottom:10px;
  color: $splash;
}

article {
  font-family: Georgia, serif;
  padding: 10px;
  position: relative;
  hr {
    margin-top: 2px;
    border-color: $lightgray;
    width:98%;
    margin-bottom: 20px;
  }
  hr.bottom {
    margin-bottom: 0px;
  }
  hr.divider {
    width: 90%;
    background-color: $lightgray;
    margin: 20px auto;
  }
  img {
    display: block;
    width: 60%;
    margin: 0 auto;
  }
  img.main {
    width: 80%;
  }
  @media (max-width: 768px) {
    img {
      width: 80%;
    }
    img.main {
      width: 100%;
    }
  }
  .caption {
    width: 80%;
    color: #aaa;
    margin: 0 auto;
    text-align: center;
    font-family: 'Lato', sans-serif;
  }
  .body {
    width:90%;
    font-size:16px;
    margin: 0 auto;
    line-height:24px;
  }
  .sub {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: $darkgray;
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
  }
  blockquote {
    margin: 30px 0;
    border-left: 7px solid maroon;
    padding: 0 0 0 30px;
  }
}
