article {
	font-family: Georgia, serif;
	border: 1px solid #bbb;
	border-radius: 2px;
	padding: 10px;
	h1 {
		font-family: 'Lato', sans-serif;
		font-weight: 100;
		font-size: 25px;
		text-align: center;
		margin: 0;
	}
	hr {
		margin-top: 2px;
	}
	.divider {
		width: 90%;
		height: 2px;
		background-color: #bbb;
		margin: 20px auto;
	}
	img {
		display: block;
		width: 80%;
		margin: 0 auto;
	}
	.sub {
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		font-size: 15px;
		color: #aaa;
		text-align: right;
	}
}