$lightgray: rgba(203,203,203,1);
$darkgray: #3d464d;

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  color: $darkgray;
  margin: 2px auto 8px auto;
}
article {
	font-family: Georgia, serif;
	padding: 10px;
	hr {
		margin-top: 2px;
    border-color: $lightgray;
    width:98%;
	}
	.divider {
		width: 90%;
		background-color: $lightgray;
		margin: 20px auto;
	}
	img {
		display: block;
		width: 60%;
		margin: 0 auto;
	}
  img.main {
    width: 80%;
  }
  @media (max-width: 756px) {
    img {
      width: 80%;
    }
    img.main {
      width: 100%;
    }
  }
  .body {
    width:90%;
    font-size:16px;
    margin: 0 auto;
    line-height:24px;
  }
	.sub {
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		font-size: 15px;
		color: rgba(146,146,146,1);
		text-align: right;
	}
	blockquote {
		margin: 30px 0;
		border-left: 10px solid maroon;
		padding: 0 0 0 30px;
	}
}