@import "variables";

.article-thumbnail {
  border: 1px solid $lightgray;
  width: 100%;
  padding: 10px;
  margin-bottom: 18px;

  img {
    width: 100%;
  }

  h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    margin-top:7px;
    margin-bottom:7px;
    color: black;
  }

  hr {
    margin: 0 auto;
    width: 90%;
    border-color: $lightgray;
  }

  .sub {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: $darkgray;
    text-align:center;
    margin-top: 7px;
    margin-bottom: -3px;
  }
}

@media (min-width: 992px) {
  .article-thumbnail {
    h1 {
      line-height: 20px;
      height: 40px;
    }
  }
}
