@import "variables";

$headerHeight: 80px;
$headerTitleFontSize: 28px;

header, footer {
  a:hover {
    text-decoration: none;
  }
  h1 {
    color: $splash;
  }
  .top-bar {
    h1 { // styling specific to the dashboard
      font-size: $headerTitleFontSize;  
      margin: ($headerHeight - $headerTitleFontSize)*.5 auto;
    }
    position: fixed;
    height: $headerHeight;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(212,212,212,.6);
    z-index: 999;
    padding-left: 30px;
    ul {
      list-style-type: none;
      position: absolute;
      right: 40px;
      top: 40%;
      font-weight: 800;
      li {
        display: inline;
        margin: auto 20px;
        a {
          color: #aaa;
        }
        a:hover {
          color: #ccc;
        }
        a.active {
          color: maroon;
        }
      }
    }
  }
}

.allow-for-top-bar {
  margin-top: 95px !important;
}

.dashboard {
  background-color: #eee;
}