h2.form {
  text-align:left;
  font-size: 25px;
  width: 50%;
  margin:10px auto;
  padding-left:10px;
}


.card.form {
  padding: 15px;
  width:50%;
  margin:auto;
  .form-group {
    legend {
      font-size:35px;
    }
  }
}
