html, body{height:100%;}
.carousel{height:80%;}
.carousel-inner, .item{height:100%;}
.item img{width:100%;}

header .logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 30%;
  max-width: 270px;
  min-width: 100px;
  z-index: 2;
  background-color: white;
  border-radius: 0 0 5px 5px;
  h1 {
    margin: 0;
    padding: 5px;
    font-weight: 300;
  }
}

.container {
  margin-top: 70px;
}